* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 400px;
  }

  .signup-form {
    background-color: #fcfcfc;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #0b0707;
    border-radius: 5px;
    margin-top: 5px;
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: #3b5ec5;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #3f9b56;
  }

  .links {
    text-align: center;
    margin-top: 25px;
  }

  .links a {
    color: #4c46be;
    text-decoration: none;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .error {
    color: red;
    font-size: 12px;
    display: none;
  }