<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expediter Dashboard</title>
<link rel="stylesheet" href="../Assets/Expediter Dashboard .css">
</head>
<body>
  <h2>Expediter Dashboard</h2>

   <!-- Back Button -->
  <div class="back-button">
    <button onclick="window.location.href='Order .html'">⬅ Back </button>
  </div>

  <div class="filters">
    <select id="filterTable" onchange="renderBoard()">
      <option value="All">All Tables</option>
      <option value="1">Table 1</option>
      <option value="2">Table 2</option>
    </select>
    <select id="filterStation" onchange="renderBoard()">
      <option value="All">All Stations</option>
      <option value="Grill">Grill</option>
      <option value="Fry">Fry</option>
    </select>
    <select id="filterStatus" onchange="renderBoard()">
      <option value="All">All Status</option>
      <option value="Queued">Queued</option>
      <option value="In Progress">In Progress</option>
      <option value="Ready">Ready</option>
    </select>
  </div>

  <div class="kanban-board">
    <div class="kanban-column" id="Queued" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3>Queued</h3>
    </div>
    <div class="kanban-column" id="In Progress" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3>In Progress</h3>
    </div>
    <div class="kanban-column" id="Ready" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3>Ready</h3>
    </div>
  </div>

  <script src="../Assets/Expediter Dashboard .js"></script>
</body>
</html>
