<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order - Home</title>
 <link rel="stylesheet" href="../Assets/Order .css">
</head>
<body>
  <div class="container">
    <h1>Order</h1>
    <button onclick="navigateTo('Order Queue.html')"> Order Queue</button>
    <button onclick="navigateTo('Station View.html')">Station View</button>
    <button onclick="navigateTo('Expediter Dashboard .html')">Expediter Dashboard </button>
    <button onclick="navigateTo('Home Dashboard.html')">Home</button>

    
  </div>

 <script src="../Assets/Order .js"></script>
</body>
</html>
