<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation - Home</title>
 <link rel="stylesheet" href="../Assets/Reservation .css">
</head>
<body>
  <div class="container">
    <h1>Reservation </h1>
    <button onclick="navigateTo('Floor Plan Map.html')">Floor Plan Map</button>
    <button onclick="navigateTo('Reservation Book.html')">Reservation Book</button>
    <button onclick="navigateTo('Waitlist .html')">Waitlist</button>
    <button onclick="navigateTo('Home Dashboard.html')">Home</button>

    
  </div>

 <script src="../Assets/Reservation .js"></script>
</body>
</html>
