<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings - Home</title>
 <link rel="stylesheet" href="../Assets/Setting.css">
</head>
<body>
  <div class="container">
    <h1>Settings</h1>
    <button onclick="navigateTo('Profile view.html')"> Profile view</button>
    <button onclick="navigateTo('Notification Settings .html')"> Notification Settings</button>
    <button onclick="navigateTo('Home Dashboard.html')">Back</button>
    <button onclick="navigateTo('login.html')"> Logout </button>

    
  </div>

 <script src="../Assets/Setting.js"></script>
</body>
</html>
