<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order - Home</title>
 <link rel="stylesheet" href="../Assets/Staff.css">
</head>
<body>
  <div class="container">
    <h1>Staff</h1>
    <button onclick="navigateTo('Weekly Roster.html')"> Weekly Roster</button>
    <button onclick="navigateTo('Availability Tracker.html')"> Availability Tracker</button>
    <button onclick="navigateTo('Shift Swap Board .html')">Shift Swap Board  </button>
    <button onclick="navigateTo('Home Dashboard.html')">Home</button>

    
  </div>

 <script src="../Assets/Staff.js"></script>
</body>
</html>
